html{
	font-family: Georgia;
	font-weight: normal;
	background-color: white;
	font-size: 1rem;
}

header{
	background-color: #e3f703;
	padding: 0;
	margin: 0;
	font-family: 'Sigmar One', cursive;
	text-align: center;
	color: #9f0325;
}

ol{
	list-style-type: none;
	line-height: 1.5;
}

nav a{
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 4px;
	text-decoration: none;
	background-color: #c0be00;
}

a{
	color: white;
	display: block;
}

a:hover{
	background-color: #9f0325;
}

h2{
	font-family: 'Sigmar One', cursive;
	color: #9f0325;
}

h3{
	font-family: 'Sigmar One', cursive;
	color: #9f0325;
}

blockquote{
	color: #c0be00;
	padding: 0;
	margin: 0;
	text-align: center;
}

.quote{
	font-size: 2.5rem;
	padding: 0;
	margin: 0;
	text-align: center;
}

figure{
	border: 3px solid #9da703;
	border-radius: 5px;
	margin: 0;
	padding: 1em 2em 0.5em 3em;
	background-color: #eef6ad;
	width: 100%;
}

figcaption{
	text-align: center;
}

footer{
	color: #c0be00;
	text-align: center;
}

dt{
	font-weight: bold;
}

dd{
	padding: 0;
	margin: 0;
}
