html{
	font-family: Georgia;
	font-weight: normal;
	background-color: white;
	font-size: 1rem;
}

body{
	margin: 0;
	padding:0;
}

header{
	background-color: #e3f703;
	padding: 0;
	margin: 0;
	font-family: 'Sigmar One', cursive;
	color: #9f0325;
}

h1{
	text-align: center;
	padding: 0;
	margin: 0;
}

nav li{
	display: inline-block;
	text-align: center;
}

ol{
	list-style-type: none;
	line-height: 1.5;
	text-align: center;
	padding: 0;
	margin: 0;
}

nav a{
	display: inline-block;
	padding: 0.5em 0.75em;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	background-color: #c0be00;
	font-family: Georgia;
}

a{
	color: white;
}

a:hover{
	background-color: #9f0325;
}

h2{
	font-family: 'Sigmar One', cursive;
	color: #9f0325;
	border-top: 4px solid #9da703;
}

h3{
	font-family: 'Sigmar One', cursive;
	color: #9f0325;
}

blockquote{
	color: #c0be00;
	padding: 0;
	margin: 0;
	text-align: center;
}

.quote{
	font-size: 2.5rem;
	padding: 0;
	margin: 0;
	text-align: center;
}

figure{
	border: 3px solid #9da703;
	border-radius: 10px;
	margin: 0;
	padding: 1em 2em .5em 3em;
	background-color: #eef6ad;
}

figcaption{
	text-align: center;
}

footer{
	color: #c0be00;
	text-align: center;
}

dt{
	font-weight: bold;
}

dd{
	padding: .3em 0em .3em 0em;
	margin: 0;
}

.foot{
	background-color: #e3f703;
	padding: 1em;
	margin: 0;
	font-size: .8rem;
}

.con{
	color: black;
}

.wiki{
	color: #9f0325;
}

img{
	width: 100%;
}

.wiki:hover{
	color: white;
}
